h1 inbex 
H2 </tag-name>-бургер
position: absolute;
width 1920px;
height: 403px;
left: 0px;
top: 3471px;



/* Other */


position: absolute;
width: 1181px;
height: 1298px;
left: 370px;
top: 1264px;



/* Burgers */


position: absolute;
width: 1181px;
height: 669px;
left: 370px;
top: 2662px;



/* Banner */


position: absolute;
width: 1180px;
height: 438px;
left: 370px;
top: 726px;



/* Main */


position: absolute;
width: 1920px;
height: 478px;
left: 0px;
top: 108px;



/* Header */


position absolute
width 1920px.
height: 108px;
left: 0px;
top: 0px;

